{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'search.css' %}" />
<html>
<title>Deposit Word</title>
<header>
<h1>
<form action="{% url 'wiki:index' %}">
Deposit Word
<input class='button-index' type='submit' value='Main'></form><h1>
</header>
<br>
<div class='select-style''>
<form action="{% url 'wiki:get_word' %}" method='post'>
{% csrf_token %}
<p>Word : <p><input type='text' name='word'>
<p>Type : <p><select id="select" name='type'>
<option>Noun</option>
<option>Verb</option>
<option>Adjective</option>
<option>Adverb</option>
<option>Pronoun</option>
<option>Prepositon</option>
<option>Conjunction</option>
<option>Determiner</option>
<option>Exclamation</option>
</select>
</center>
<p>Meaning : <p><input type='text' name='meaning'>
<p>Sentence : <p><input  type='text' name='sentence'>
<br><br><br><br>
<input class='button' type='submit' value='Deposit'>
</div>
</form>
<br><br>
{% if status %}
<font color="red">{{ status }}</font> 

{% endif %}
</html>
