{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />

<html>
<header>
<title>Word Storage</title>
<div id='header'>
<h1><div id='header_text'>Service</div></h1>
</div>
</header>
<br>
<center>
<a class="button" href="{% url 'wiki:search' %}">Search</a>
<br><br>
<a class="button" href="{% url 'wiki:deposit' %}">Deposit Word</a>
<br><br>
<a class="button" href="{% url 'wiki:upload' %}">Upload Word by CSV</a>
</center>
<br>
</html>
