{% load staticfiles %}
<title>Result</title>
<link rel="stylesheet" type="text/css" href="{% static 'search.css' %}" />
<html>
<header>
<h1>
<form action="{% url 'wiki:index' %}">
Search Result
<input class='button-index' type='submit' value='Main'></form><h1>
</header>
<br><br>
{% if word %}
  <table style="width:100%">
  <tr>
    <th>Word</th>
    <th>Type</th>
    <th>Meaning</th>
    <th>Example</th>
  </tr>
{% for words in word%}
  <tr>
    <td>{{ words }}</td>
    {% for info in words.info_set.all %}
        <td>{{ info.type_text }}</td>
        <td>{{ info.meaning_text }}</td>
        <td>{{ info.sentence_text }}</td>
    {% endfor %}
  </tr>
{% endfor %}
  </table> 
{% else %}
  No Word Found.
{% endif %}
</html>
