{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'search.css' %}" />

<html>
<title>Search Word</title>
<header>
<h1>
<form action="{% url 'wiki:index' %}">
Search
<input class='button-index' type='submit' value='Main'></form><h1>
</header>
<br>
<form action="{% url 'wiki:searched' %}" method='get'>
<center><input type='text' name='word' id='text'></center>
<br>
<center>
<div class="select-style">
<select name="by">
<option value ="Date">Date</option>
<option value ="A-Z">A-Z</option>
<option value ="Z-A">Z-A</option>
</select>
<input type="checkbox" name='method' value="Match Word">Match Word
<br><br>
<input class='button' type='submit' value='Search'>
</div>
</center>
</form>
<h1>Last Five Search</h1>
{% if last_five %}
{% for item in last_five %}
    <button class=button_lw onClick="document.getElementById('text').value = '{{ item }}'">{{ item }}</button>
{% endfor %}
{% endif %}
<h1>Popular Word</h1>
{% if most_popular %}
    <button class=button_lw onClick="document.getElementById('text').value = '{{ most_popular }}'">{{ most_popular }}</button>
{% endif %}
</html>

