{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'search.css' %}" />

<html>
<title>Upload Word</title>
<header>
<h1>
<form action="{% url 'wiki:index' %}">
Upload
<input class='button-index' type='submit' value='Main'></form><h1>
</header>
<br>
<center>
<form action="{% url 'wiki:uploaded' %}" method='post' enctype="multipart/form-data">
{% csrf_token %}            
<input type="file" name="input_file" id="input_file">
<br><br>
<input class='button' type="submit" value="Upload CSV File" name="submit">
</form>
<br><br>
{% if status %}
<font color="red">{{ status }}</font> 
{% endif %}
</center>
</html>
