header {
    color: green;
    border: 2px solid green;
    background-color: white;
    border-radius: 12px;
    text-align:center;
}
.button{
    background-color: white;
    border: 2px solid green;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 75%
}
body {
    background: white url("background.jpg")
}
