header {
    color: green;
    border: 2px solid green;
    background-color: white;
    border-radius: 12px;
    text-align:center;
}
input[type=text]
{
    height: 5%;
    color: green;
    width: 50%;
    text-decoration: none;
    border: 2px solid green;
    font-size: 30px;
}
.button{
    background-color: white;
    border: 2px solid green;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 25%
}
.button_lw{
    background-color: white;
    border: 2px solid green;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10%
}
.button-index{
    float: left;
    margin: 0 1.5%;
    background-color: white;
    border: 2px solid green;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 8%
}
.select-style select{
    border: 2px solid green;
    background-color: white
    width: 25%;
    color: green;
    padding: 15px 32px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
body {
    color: green;
    background: white url("background.jpg")
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    padding: 8px;
    background-color: white;
}
th {
    text-align: left;
    padding: 8px;
    background-color: green;
    color: white;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}



